---
import BlogPreview from "../components/Blog/BlogPreview.astro"
import PageHeading from "../components/PageHeading.astro"
import Layout from "../layouts/Layout.astro"

interface Frontmatter {
	title: string
	preamble?: string
	published: Date
	tags?: string[]
	minutesRead: string
}

const posts = await Astro.glob<Frontmatter>("./posts/*.md")

const sortedPosts = posts.sort((a, b) => {
	return (
		new Date(b.frontmatter.published).valueOf() -
		new Date(a.frontmatter.published).valueOf()
	)
})
---

<Layout title="Per-Ragar Lindfors - Blog" nav="blog">
	<PageHeading>Blog</PageHeading>
	<section class="mt-24">
		{
			sortedPosts.map((post) => (
				<BlogPreview
					title={post.frontmatter.title}
					preamble={post.frontmatter.preamble}
					published={post.frontmatter.published}
					tags={post.frontmatter.tags}
					minutesRead={post.frontmatter.minutesRead}
					url={post.url}
				/>
			))
		}
	</section>
</Layout>
