---
import SectionHeading from "../Section/SectionHeading.astro"

export interface Props {
	title: string
	published: Date
	preamble?: string
	tags?: string[]
	minutesRead: string
	url?: string
}

const { title, published, preamble, tags, url, minutesRead } = Astro.props
---

<div class="mt-10 pb-10 border-b border-slate-600 last-of-type:border-none">
	<div class="flex justify-between mb-4">
		<SectionHeading el="h2" class="mb-0">
			<a href={url} class="hover:underline-offset-[10px]">{title}</a>
		</SectionHeading>
		<small class="text-base text-slate-400 flex flex-col">
			<span>
				{new Date(published).toISOString().split("T")[0]}
			</span>
			<span>
				{minutesRead}
			</span>
		</small>
	</div>
	<p class="text-slate-400">{preamble}</p>
	<div class="flex gap-6">
		{
			tags &&
				tags.map((tag) => (
					<a
						href="#"
						class="flex items-center justify-center text-base text-midnight bg-yellow-100 py-2 px-3 rounded-sm hover:no-underline active:no-underline focus:no-underline hover:bg-white transition-colors"
					>
						<span class="leading-none">{tag}</span>
					</a>
				))
		}
	</div>
</div>
